{{#with tweet}}
<div class="card mb-2">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <a href="/tweets?user={{user}}" class="card-link">@{{ user }}</a>
      <div class="flex justify-content-between">
        <small>{{date createdAt }}</small>
        <form action="/tweets/{{id}}" method="post" class="d-inline-block">
          <button type="submit" class="btn btn-link"><i class="fas fa-heart {{#if fav}}text-danger{{else}}text-dark{{/if}}"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">{{ message }}</div>
  </div>
</div>
{{/with}}
