<div class="row mb-5">
  <div class="col-12">
    <form action="/tweets" method="post">
      <div class="mb-1">
        <div class="input-group {{#if errors.user }}has-validation{{/if}}">
          <div class="input-group-text">@</div>
          <input type="text" class="form-control {{#if errors.user }}is-invalid{{/if}}" name="user" placeholder="Type a user name..." value="{{ tweet.user }}">
          {{#if errors.user }}
            <div class="invalid-feedback mb-1">
              {{ errors.user }}
            </div>
          {{/if}}
        </div>
      </div>
      <div class="mb-1">
        <div class="input-group {{#if errors.message }}has-validation{{/if}}">
          <div class="input-group-text"><i class="fal fa-edit"></i></div>
          <textarea class="form-control {{#if errors.message }}is-invalid{{/if}}" name="message" rows="3">{{ tweet.message }}</textarea>
          {{#if errors.message }}
          <div class="invalid-feedback mb-1">
            {{ errors.message }}
          </div>
          {{/if}}
        </div>
      </div>
      <div class="mb-1 justify-content-center d-flex">
        <button class="btn btn-primary">Add Tweet</button>
      </div>
    </form>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12 col-md-3">
    <form action="/tweets" method="get" class="row g-3">
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">@</div>
          <input type="text" class="form-control" name="user" placeholder="Type a user name..." value="{{ user }}">
        </div>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary"><i class="fal fa-search"></i></button>
      </div>
    </form>
  </div>
</div>

{{#each tweets as |tweet| }}
  {{> tweetPanel tweet=tweet }}
{{/each}}
